ProviderClient/Service References/ProviderSvc/Provider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://verwijsindex.shpv.nl/service/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Provider" targetNamespace="https://verwijsindex.shpv.nl/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_Provider_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://verwijsindex.shpv.nl/service/Imports">
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Service/ProviderService.svc?xsd=xsd0" namespace="https://verwijsindex.shpv.nl/service/" />
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Service/ProviderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Service/ProviderService.svc?xsd=xsd2" namespace="https://verwijsindex.shpv.nl/messages/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Provider_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="Provider_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:message name="Provider_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="Provider_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="Provider_BatchRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchRegistration" />
  </wsdl:message>
  <wsdl:message name="Provider_BatchRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="Provider">
    <wsdl:operation name="Request">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/Provider/Request" message="tns:Provider_Request_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/Provider/RequestResponse" message="tns:Provider_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/Provider/Registration" message="tns:Provider_Registration_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/Provider/RegistrationResponse" message="tns:Provider_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchRegistration">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/Provider/BatchRegistration" message="tns:Provider_BatchRegistration_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/Provider/BatchRegistrationResponse" message="tns:Provider_BatchRegistration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_Provider" type="tns:Provider">
    <wsp:PolicyReference URI="#WSHttpBinding_Provider_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Request">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/Provider/Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/Provider/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchRegistration">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/Provider/BatchRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Provider">
    <wsdl:port name="WSHttpBinding_Provider" binding="tns:WSHttpBinding_Provider">
      <soap12:address location="https://verwijsindex.shpv.nl/Service/ProviderService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://verwijsindex.shpv.nl/Service/ProviderService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>