WebServiceTestTool/Service References/parkeerregister.nl_Services_AdministrationService/Administration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BezwaarBeroep" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BezwaarBeroep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponse" nillable="true" type="tns:StatusResponse" />
</xs:schema>