WebServiceTestTool/Service References/parkeerregister.nl_Services_AdministrationService/Administration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.parkeerregister.nl/2014/07/AVG" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Administration" targetNamespace="http://schemas.parkeerregister.nl/2014/07/AVG" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AVGService.Remote_IAVG_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.parkeerregister.nl/2014/07/AVG/Imports">
      <xsd:import schemaLocation="https://www.parkeerregister.nl/Services/Administration.svc?xsd=xsd0" namespace="http://schemas.parkeerregister.nl/2014/07/AVG" />
      <xsd:import schemaLocation="https://www.parkeerregister.nl/Services/Administration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.parkeerregister.nl/Services/Administration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BezwaarBeroep" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAVG_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAVG_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_PermitsByCitizensServiceNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:PermitsByCitizensServiceNumber" />
  </wsdl:message>
  <wsdl:message name="IAVG_PermitsByCitizensServiceNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:PermitsByCitizensServiceNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_AllPermits_InputMessage">
    <wsdl:part name="parameters" element="tns:AllPermits" />
  </wsdl:message>
  <wsdl:message name="IAVG_AllPermits_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllPermitsResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IAVG_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_RegistrationBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationBatch" />
  </wsdl:message>
  <wsdl:message name="IAVG_RegistrationBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_GarageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GarageInfo" />
  </wsdl:message>
  <wsdl:message name="IAVG_GarageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GarageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_ServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IAVG_ServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAVG_Parker_InputMessage">
    <wsdl:part name="parameters" element="tns:Parker" />
  </wsdl:message>
  <wsdl:message name="IAVG_Parker_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParkerResponse" />
  </wsdl:message>
  <wsdl:portType name="IAVG">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/GetData" message="tns:IAVG_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/GetDataResponse" message="tns:IAVG_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PermitsByCitizensServiceNumber">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/PermitsByCitizensServiceNumber" message="tns:IAVG_PermitsByCitizensServiceNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/PermitsByCitizensServiceNumberResponse" message="tns:IAVG_PermitsByCitizensServiceNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllPermits">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/AllPermits" message="tns:IAVG_AllPermits_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/AllPermitsResponse" message="tns:IAVG_AllPermits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/Registration" message="tns:IAVG_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/RegistrationResponse" message="tns:IAVG_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrationBatch">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/RegistrationBatch" message="tns:IAVG_RegistrationBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/RegistrationBatchResponse" message="tns:IAVG_RegistrationBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GarageInfo">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/GarageInfo" message="tns:IAVG_GarageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/GarageInfoResponse" message="tns:IAVG_GarageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/ServiceStatus" message="tns:IAVG_ServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/ServiceStatusResponse" message="tns:IAVG_ServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Parker">
      <wsdl:input wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/Parker" message="tns:IAVG_Parker_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/ParkerResponse" message="tns:IAVG_Parker_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AVGService.Remote_IAVG" type="tns:IAVG">
    <wsp:PolicyReference URI="#AVGService.Remote_IAVG_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermitsByCitizensServiceNumber">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/PermitsByCitizensServiceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllPermits">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/AllPermits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrationBatch">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/RegistrationBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GarageInfo">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/GarageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/ServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Parker">
      <soap:operation soapAction="http://schemas.parkeerregister.nl/2014/07/AVG/IAVG/Parker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Administration">
    <wsdl:port name="AVGService.Remote_IAVG" binding="tns:AVGService.Remote_IAVG">
      <soap:address location="https://www.parkeerregister.nl/Services/Administration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>