NPRPlusProviderService/Service References/RDW/Registration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:tns="http://rdw.nl/rpv/1.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="" name="Registration" targetNamespace="http://rdw.nl/rpv/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IRegistration_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://rdw.nl/rpv/1.0/Imports">
      <xsd:import schemaLocation="https://psb.rdw.nl/ssg/wsdl/Registration.svc?serviceoid=fc8b21b432e5fa8aaa503a4c2cf138cf&amp;servdocoid=ace784ad8da201765493f2d5d0d04df5" namespace="http://rdw.nl/rpv/1.0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveRightInfoForProviderRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="ReplyPSPhotoInfoResponse">
    <wsdl:part name="parameters" element="tns:ReplyPSPhotoInfoResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAreasByLocationRequest">
    <wsdl:part name="parameters" element="tns:RetrieveAreasByLocationRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveCheckInfoRequest">
    <wsdl:part name="parameters" element="tns:RetrieveCheckInfoRequest" />
  </wsdl:message>
  <wsdl:message name="PSRightCheckRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="RetrieveRightInfoRequest">
    <wsdl:part name="parameters" element="tns:RetrieveRightInfoRequest" />
  </wsdl:message>
  <wsdl:message name="PSRightRevokeRequest">
    <wsdl:part name="parameters" element="tns:PSRightRevokeRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveAreasByLocationRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="CalculatePriceRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="RetrieveAreaRegulationFareInfoRequest">
    <wsdl:part name="parameters" element="tns:RetrieveAreaRegulationFareInfoRequest" />
  </wsdl:message>
  <wsdl:message name="PSRightCheckResponse">
    <wsdl:part name="parameters" element="tns:PSRightCheckResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveRightInfoForProviderResponse">
    <wsdl:part name="parameters" element="tns:RetrieveRightInfoForProviderResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatePriceRequest">
    <wsdl:part name="parameters" element="tns:CalculatePriceRequest" />
  </wsdl:message>
  <wsdl:message name="ReplyPSPhotoInfoRequest">
    <wsdl:part name="parameters" element="tns:ReplyPSPhotoInfoRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveAreaRegulationFareInfoRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="StatusRequestRequest">
    <wsdl:part name="parameters" element="tns:StatusRequestRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveAreasByLocationResponse">
    <wsdl:part name="parameters" element="tns:RetrieveAreasByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="PSRightCheckRequest">
    <wsdl:part name="parameters" element="tns:PSRightCheckRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveRightInfoForProviderRequest">
    <wsdl:part name="parameters" element="tns:RetrieveRightInfoForProviderRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveCheckInfoRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="StatusRequestResponse">
    <wsdl:part name="parameters" element="tns:StatusRequestResponse" />
  </wsdl:message>
  <wsdl:message name="PSRightEnrollRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="PSRightRevokeResponse">
    <wsdl:part name="parameters" element="tns:PSRightRevokeResponse" />
  </wsdl:message>
  <wsdl:message name="ReplyPSPhotoInfoRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="StatusRequestRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="CalculatePriceResponse">
    <wsdl:part name="parameters" element="tns:CalculatePriceResponse" />
  </wsdl:message>
  <wsdl:message name="PSRightEnrollResponse">
    <wsdl:part name="parameters" element="tns:PSRightEnrollResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveRightInfoResponse">
    <wsdl:part name="parameters" element="tns:RetrieveRightInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PSRightRevokeRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="PSRightEnrollRequest">
    <wsdl:part name="parameters" element="tns:PSRightEnrollRequest" />
  </wsdl:message>
  <wsdl:message name="RetrieveCheckInfoResponse">
    <wsdl:part name="parameters" element="tns:RetrieveCheckInfoResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveRightInfoRequest_Headers">
    <wsdl:part name="PIN" element="tns:PIN" />
  </wsdl:message>
  <wsdl:message name="RetrieveAreaRegulationFareInfoResponse">
    <wsdl:part name="parameters" element="tns:RetrieveAreaRegulationFareInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistration">
    <wsdl:operation name="CalculatePrice">
      <wsdl:input name="CalculatePriceRequest" message="tns:CalculatePriceRequest" />
      <wsdl:output name="CalculatePriceResponse" message="tns:CalculatePriceResponse" />
    </wsdl:operation>
    <wsdl:operation name="CheckPSRight">
      <wsdl:input name="PSRightCheckRequest" message="tns:PSRightCheckRequest" />
      <wsdl:output name="PSRightCheckResponse" message="tns:PSRightCheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="EnrollPSRight">
      <wsdl:input name="PSRightEnrollRequest" message="tns:PSRightEnrollRequest" />
      <wsdl:output name="PSRightEnrollResponse" message="tns:PSRightEnrollResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReplyPSPhotoInfo">
      <wsdl:input name="ReplyPSPhotoInfoRequest" message="tns:ReplyPSPhotoInfoRequest" />
      <wsdl:output name="ReplyPSPhotoInfoResponse" message="tns:ReplyPSPhotoInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAreaRegulationFareInfo">
      <wsdl:input name="RetrieveAreaRegulationFareInfoRequest" message="tns:RetrieveAreaRegulationFareInfoRequest" />
      <wsdl:output name="RetrieveAreaRegulationFareInfoResponse" message="tns:RetrieveAreaRegulationFareInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAreasByLocation">
      <wsdl:input name="RetrieveAreasByLocationRequest" message="tns:RetrieveAreasByLocationRequest" />
      <wsdl:output name="RetrieveAreasByLocationResponse" message="tns:RetrieveAreasByLocationResponse" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCheckInfo">
      <wsdl:input name="RetrieveCheckInfoRequest" message="tns:RetrieveCheckInfoRequest" />
      <wsdl:output name="RetrieveCheckInfoResponse" message="tns:RetrieveCheckInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRightInfo">
      <wsdl:input name="RetrieveRightInfoRequest" message="tns:RetrieveRightInfoRequest" />
      <wsdl:output name="RetrieveRightInfoResponse" message="tns:RetrieveRightInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRightInfoForProvider">
      <wsdl:input name="RetrieveRightInfoForProviderRequest" message="tns:RetrieveRightInfoForProviderRequest" />
      <wsdl:output name="RetrieveRightInfoForProviderResponse" message="tns:RetrieveRightInfoForProviderResponse" />
    </wsdl:operation>
    <wsdl:operation name="RevokePSRight">
      <wsdl:input name="PSRightRevokeRequest" message="tns:PSRightRevokeRequest" />
      <wsdl:output name="PSRightRevokeResponse" message="tns:PSRightRevokeResponse" />
    </wsdl:operation>
    <wsdl:operation name="StatusRequest">
      <wsdl:input name="StatusRequestRequest" message="tns:StatusRequestRequest" />
      <wsdl:output name="StatusRequestResponse" message="tns:StatusRequestResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IRegistration" type="tns:IRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculatePrice">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/CalculatePrice" style="document" />
      <wsdl:input name="CalculatePriceRequest">
        <soap:header message="tns:CalculatePriceRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CalculatePriceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPSRight">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/CheckPSRight" style="document" />
      <wsdl:input name="PSRightCheckRequest">
        <soap:header message="tns:PSRightCheckRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PSRightCheckResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollPSRight">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/EnrollPSRight" style="document" />
      <wsdl:input name="PSRightEnrollRequest">
        <soap:header message="tns:PSRightEnrollRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PSRightEnrollResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplyPSPhotoInfo">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/ReplyPSPhotoInfo" style="document" />
      <wsdl:input name="ReplyPSPhotoInfoRequest">
        <soap:header message="tns:ReplyPSPhotoInfoRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReplyPSPhotoInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAreaRegulationFareInfo">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/RetrieveAreaRegulationFareInfo" style="document" />
      <wsdl:input name="RetrieveAreaRegulationFareInfoRequest">
        <soap:header message="tns:RetrieveAreaRegulationFareInfoRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrieveAreaRegulationFareInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAreasByLocation">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/RetrieveAreasByLocation" style="document" />
      <wsdl:input name="RetrieveAreasByLocationRequest">
        <soap:header message="tns:RetrieveAreasByLocationRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrieveAreasByLocationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCheckInfo">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/RetrieveCheckInfo" style="document" />
      <wsdl:input name="RetrieveCheckInfoRequest">
        <soap:header message="tns:RetrieveCheckInfoRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrieveCheckInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRightInfo">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/RetrieveRightInfo" style="document" />
      <wsdl:input name="RetrieveRightInfoRequest">
        <soap:header message="tns:RetrieveRightInfoRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrieveRightInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRightInfoForProvider">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/RetrieveRightInfoForProvider" style="document" />
      <wsdl:input name="RetrieveRightInfoForProviderRequest">
        <soap:header message="tns:RetrieveRightInfoForProviderRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrieveRightInfoForProviderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevokePSRight">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/RevokePSRight" style="document" />
      <wsdl:input name="PSRightRevokeRequest">
        <soap:header message="tns:PSRightRevokeRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PSRightRevokeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusRequest">
      <soap:operation soapAction="http://rdw.nl/rpv/1.0/IRegistration/StatusRequest" style="document" />
      <wsdl:input name="StatusRequestRequest">
        <soap:header message="tns:StatusRequestRequest_Headers" part="PIN" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StatusRequestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registration">
    <wsdl:port name="CustomBinding_IRegistration" binding="tns:CustomBinding_IRegistration">
      <wsa10:EndpointReference>
        <wsa10:Address>http://xsbsvc201511.diensten.tld/Registration.svc</wsa10:Address>
      </wsa10:EndpointReference>
      <soap:address location="https://psb.rdw.nl/bevraging/rpv/201511/Registration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>