WebServiceTestTool/Service References/shpv.nl_MonitorService/MonitorVWX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorVWX" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Monitor/MonitorVWX.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Monitor/MonitorVWX.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Monitor/MonitorVWX.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Monitor.VWX.Imported" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorVWX_GetVWXPerPeriodRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVWXPerPeriodRecords" />
  </wsdl:message>
  <wsdl:message name="IMonitorVWX_GetVWXPerPeriodRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVWXPerPeriodRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorVWX_GetIISPerPeriodRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIISPerPeriodRecords" />
  </wsdl:message>
  <wsdl:message name="IMonitorVWX_GetIISPerPeriodRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIISPerPeriodRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorVWX_GetServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IMonitorVWX_GetServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitorVWX">
    <wsdl:operation name="GetVWXPerPeriodRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorVWX/GetVWXPerPeriodRecords" message="tns:IMonitorVWX_GetVWXPerPeriodRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorVWX/GetVWXPerPeriodRecordsResponse" message="tns:IMonitorVWX_GetVWXPerPeriodRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIISPerPeriodRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorVWX/GetIISPerPeriodRecords" message="tns:IMonitorVWX_GetIISPerPeriodRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorVWX/GetIISPerPeriodRecordsResponse" message="tns:IMonitorVWX_GetIISPerPeriodRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorVWX/GetServiceStatus" message="tns:IMonitorVWX_GetServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorVWX/GetServiceStatusResponse" message="tns:IMonitorVWX_GetServiceStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MonitorVWX" />
</wsdl:definitions>