WebServiceTestTool/Service References/nl.shpv_verwijsindex_201709/VerwijsIndex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://verwijsindex.shpv.nl/service/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VerwijsIndex" targetNamespace="https://verwijsindex.shpv.nl/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_VerwijsIndex_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://verwijsindex.shpv.nl/service/Imports">
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Servicev4/201709/VerwijsIndexService.svc?xsd=xsd0" namespace="https://verwijsindex.shpv.nl/service/" />
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Servicev4/201709/VerwijsIndexService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://verwijsindex.shpv.nl/Servicev4/201709/VerwijsIndexService.svc?xsd=xsd2" namespace="https://verwijsindex.shpv.nl/messages/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VerwijsIndex_PaymentStart_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentStart" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_PaymentStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentStartResponse" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_PaymentEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentEnd" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_PaymentEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentEndResponse" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_PaymentCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCheck" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_PaymentCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCheckResponse" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_ServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatus" />
  </wsdl:message>
  <wsdl:message name="VerwijsIndex_ServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="VerwijsIndex">
    <wsdl:operation name="PaymentStart">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentStart" message="tns:VerwijsIndex_PaymentStart_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentStartResponse" message="tns:VerwijsIndex_PaymentStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentEnd">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentEnd" message="tns:VerwijsIndex_PaymentEnd_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentEndResponse" message="tns:VerwijsIndex_PaymentEnd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentCheck">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentCheck" message="tns:VerwijsIndex_PaymentCheck_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentCheckResponse" message="tns:VerwijsIndex_PaymentCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <wsdl:input wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/ServiceStatus" message="tns:VerwijsIndex_ServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="https://verwijsindex.shpv.nl/service/VerwijsIndex/ServiceStatusResponse" message="tns:VerwijsIndex_ServiceStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_VerwijsIndex" type="tns:VerwijsIndex">
    <wsp:PolicyReference URI="#WSHttpBinding_VerwijsIndex_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentStart">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentEnd">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentEnd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentCheck">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/VerwijsIndex/PaymentCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <soap12:operation soapAction="https://verwijsindex.shpv.nl/service/VerwijsIndex/ServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerwijsIndex">
    <wsdl:port name="WSHttpBinding_VerwijsIndex" binding="tns:WSHttpBinding_VerwijsIndex">
      <soap12:address location="https://verwijsindex.shpv.nl/Servicev4/201709/VerwijsIndexService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://verwijsindex.shpv.nl/Servicev4/201709/VerwijsIndexService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>